In [102]:
import pandas as pd
import numpy as np

In [103]:
train = pd.read_csv('c:\\Users\\hskang\\Desktop\\Coding\\Python AI\\Datas\\train.csv')
test = pd.read_csv('c:\\Users\\hskang\\Desktop\\Coding\\Python AI\\Datas\\test.csv')
bus_bts = pd.read_csv('c:\\Users\\hskang\\Desktop\\Coding\\Python AI\\Datas\\bus_bts.csv')

# 공공 데이터 포털 https://www.data.go.kr/data/15010850/fileData.do
# 데이터 기준 일자 2017-08-31
station_position = pd.read_csv('c:\\Users\\hskang\\Desktop\\Coding\\Python AI\\Datas\\제주특별자치도_버스정류소현황_20170831.csv', engine='python', encoding='cp949')

In [104]:
get_station_position = pd.DataFrame()
get_station_position['station_name'] = station_position['정류소명']
get_station_position['latitude'] = station_position['위도']
get_station_position['longitude'] = station_position['경도']
get_station_position = get_station_position.drop_duplicates(['station_name']).reset_index(drop=True)
get_station_position

     station_name   latitude   longitude
0        (구)중앙파출소  33.247598  126.560894
1       1100고지휴게소  33.357816  126.463076
2        1100도로입구  33.251451  126.431536
3        4.3 평화공원  33.451192  126.621620
4     4.3 평화공원 입구  33.453117  126.620093
...           ...        ...         ...
1751          흐리물  33.431052  126.400202
1752           흙통  33.262391  126.582903
1753          흥국사  33.452634  126.378422
1754        희진주유소  33.377568  126.874037
1755         히귀반석  33.477556  126.407856

[1756 rows x 3 columns]

In [105]:
train = pd.merge(train, get_station_position, on='station_name', how='left')
test = pd.merge(test, get_station_position, on='station_name', how='left')

In [106]:
train.head(2)

,id,date,bus_route_id,in_out,station_code,station_name,6~7_ride,7~8_ride,8~9_ride,9~10_ride,...,11~12_ride,6~7_takeoff,7~8_takeoff,8~9_takeoff,9~10_takeoff,10~11_takeoff,11~12_takeoff,18~20_ride,latitude,longitude
0,0,2019-09-01,4270000,시외,344,제주썬호텔,0.0,1.0,2.0,5.0,...,6.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN
1,1,2019-09-01,4270000,시외,357,한라병원,1.0,4.0,4.0,2.0,...,6.0,0.0,0.0,0.0,0.0,0.0,0.0,5.0,33.489435,126.485085

In [107]:
test.head(2)

,id,date,bus_route_id,in_out,station_code,station_name,6~7_ride,7~8_ride,8~9_ride,9~10_ride,10~11_ride,11~12_ride,6~7_takeoff,7~8_takeoff,8~9_takeoff,9~10_takeoff,10~11_takeoff,11~12_takeoff,latitude,longitude
0,415423,2019-10-01,4270000,시외,344,제주썬호텔,4.0,4.0,7.0,2.0,9.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,NaN,NaN
1,415424,2019-10-01,4270000,시외,357,한라병원,1.0,6.0,6.0,1.0,8.0,11.0,0.0,0.0,0.0,0.0,0.0,0.0,33.489435,126.485085

In [108]:
print(train.isnull().sum())

id                   0
date                 0
bus_route_id         0
in_out               0
station_code         0
station_name         0
6~7_ride             0
7~8_ride             0
8~9_ride             0
9~10_ride            0
10~11_ride           0
11~12_ride           0
6~7_takeoff          0
7~8_takeoff          0
8~9_takeoff          0
9~10_takeoff         0
10~11_takeoff        0
11~12_takeoff        0
18~20_ride           0
latitude         94272
longitude        94272
dtype: int64

In [109]:
print(test.isnull().sum())

id                   0
date                 0
bus_route_id         0
in_out               0
station_code         0
station_name         0
6~7_ride             0
7~8_ride             0
8~9_ride             0
9~10_ride            0
10~11_ride           0
11~12_ride           0
6~7_takeoff          0
7~8_takeoff          0
8~9_takeoff          0
9~10_takeoff         0
10~11_takeoff        0
11~12_takeoff        0
latitude         51562
longitude        51562
dtype: int64

In [110]:
train_null_position = train[train['longitude'].isnull()]
test_null_position = test[test['longitude'].isnull()]

In [111]:
null_position = pd.concat([train_null_position['station_name'], test_null_position['station_name']]).unique()
null_position

array(['제주썬호텔', '제주국제컨벤션센터중문대포해안주상절리대', '켄싱턴제주호텔입구', '동광환승정류장5(서귀방면)',
       '중문관광단지여미지식물원입구', '롯데시티호텔(600번)', '왕대왓', '씨에스호텔', '켄싱턴리조트악근천',
       '하나호텔한국관광공사', '동광환승정류장4(제주방면)', '제주국제공항(종점)', '배튼개입구',
       '제주도청신제주로터리', '제주시외버스터미널', '제주국제공항(평화로, 800번)', '국세공무원교육원공무원연금공단',
       '서귀포시외버스터미널', '서귀포우체국서귀포시청제2청사', '서귀포시외버스터미널(가상정류소)', '삼다체육공원입구',
       '제주웰컴센터', '여객선대합실', '추자면자치센터', '대서리사무소', '한의원', '엘지마트', '추자중학교',
       '하추자보건소', '예초', '돈대산입구', '우도천진항', '비양동', '함덕환승정류장(함덕해수욕장)',
       '표선환승정류장(표선리제주은행)', '성산환승정류장(고성리한국물류)', '서귀포등기소',
       '제주국제공항(일주동로,516도로)', '신흥리(마을입구)함덕고등학교', '성산환승정류장(고성리회전교차로)',
       '시외버스출발지(가상정류소)', '제주국제공항(대정,화순,일주서로)', '고산환승정류장(고산1리고산성당앞)',
       '제주시외버스터미널(종점)', '무릉리(사장동)', '송당로타리', '수산2리비석거리', '제주시청(아라방면)',
       '제주지방법원(아라방면)', '제주중앙여자고등학교(아라방면)', '제주여자중고등학교(아라방면)',
       '제주지방법원(광양방면)', '제주여자중고등학교(광양방면)', '제주민속촌', '월랑마을남녕고등학교',
       '동광환승정류장2(영어교육도시방면)', '블랭섬홀아시아', '모슬포남항여객선터미널(운진항)',
       '인성리(남문지앞사거리)', '보성초등학교', '구억리옹기체험관', 'NLCS제주', '새별오름',
       '제주월드컵경기장서귀포버스터미널', '제주시청(광양방면)', '제주중앙여자고등학교(광양방면)',
       '동문로터리(동문시장)', '오라초등학교', '오라동주민센터', '제주연구원', '제주자동차운전학원', '교래리보건소',
       '고산동산(아라방면)', '남국원(아라방면)', '협재해수욕장', '제주오설록티뮤지엄', '제주현대미술관,김창열미술관',
       '고성1리종합운동장', '하귀하나로마트', '유수암상동경로당', '삼무공원사거리', '주공34단지', '하효북문',
       '용운사', '하례1리', '천지동주민센터', '동홍사거리', '위미농협하례지소', '탐라장애인종합복지관',
       '송당물혹', '다랑쉬오름입구(남),손지오름', '고성리장만이동산', '수산2리퐁낭거리', '성산포수협',
       '고성리구성산농협', '수산2리입구', '수산2리생태체험센터', '셰프라인월드', '수산1리비석거리',
       '산천단한국폴리텍대학', '성산리취락구조', '고산동산(광양방면)', '남국원(광양방면)', '거로남쪽입구',
       '거로사거리', '하천리마을입구', '성읍농협앞', '표선리사거리', '달산봉입구', '막상올레', '세성로입구',
       '비자림로교래입구', '사회복지법인춘강', '동부위생처리장입구', '표선면충혼묘지', '사려니마을',
       '서귀포천문과학문화관', '연동한일시티파크', '브릭캠퍼스', '노루생이삼거리', '제주시공동묘지관리소', '회수동',
       '평화로광령1리입구', '동광환승정류장6(모슬포방면)', '유수암상동', '상모3리', '상모리이교동',
       '화순리생태탐방로', '광평교차로', '서광동리웃네거리', '신평리상동', '웃송당', '산남내', '봉개초등학교',
       '송당리사무소', '대흘2리새동네', '고내리애월119센터', '애월신협', '애조로광령1리입구', '상귀동카름',
       '애월119센터', '제주여자중고등학교제주지방해양경찰청', '죽성마을입구', '여의물', '법호촌온성학교',
       '오희준공원', '아랑조을거리입구', 'LH아파트', '공업단지입구', '한라산둘레길', '매일올레시장7번입구',
       '서귀포시구시외버스터미널', '원동', '오라오거리', '(구)중문동주민센터', '테디밸리골프앤리조트,헬로키티아일랜드',
       '구터미널', '미듬아파트', '대림사거리', '대림입전동', '납읍리섯잣길', '하가입구', '하가리오당빌레',
       '한림여자중학교', '상가리동동', '항몽유적지입구', '한림체육관', '한림농협주유소', '제주중앙여자중학교',
       '구시장터', '청화마을입구,진밭동네', '내도동서마을', '내도동동마을', '하가리주승골', '조천리상동',
       '연미마을입구', '정부제주지방합동청사', '고으니모르국립제주박물관', '동성마을입구', '함덕광명샤인빌앞',
       '조천리새마을공장', '중앙로(중앙성당)', '중앙로(동문시장)', '우당도서관입구', '삼화지구3단지',
       '삼양파출소사거리', '외도부영2차아파트', '계명동입구', '일우한란아파트', '외도부영1차아파트', '월랑로입구',
       '월성마을회관', '메종글래드제주', '하귀휴먼시아2단지앞', '김만덕기념관', '우령이마을', '월랑입구',
       '도평초등학교', '광평동로노형성당', '제주자동차검사정비사업조합', 'NHF삼화1단지', '도평로광평마을입구',
       '화물청사입구', '삼부장미아파트입구', '삼양해수욕장입구', '제주관광대학(가상)', '도련반석스위트타운',
       '명도암마을회관', '4.3평화공원', '제주학생문화원', '4.3평화공원입구', '제주교통방송아라아이파크',
       '중앙로(국민은행)', '하귀휴먼시아2단지입구', '웃인다마을', '제주소방서', '중앙로(현대약국)',
       '라마다프라자제주호텔', '한마음근린공원', '이도근린공원', '한마음선원입구', '승천로', '거로복지회관',
       '가원', '사라봉경로당입구', '제주장애인요양원', '윗가시나물', '이도수선화아파트', '제주국제자유도시개발센터',
       '첨단과기단지입구교학촌아파트', '한국전력변전소', '동부경찰서', '제일교동문시장입구', '동문성당', '첨단로8길',
       '용담새마을금고', '방선문3차,4차빌리지', '사대부고', '용두암현대1차아파트', '용화로', '용마로',
       '삼도1동주민센터', '행장디', '별빛누리공원/난타공연장', '고지교', '선돌목동길', '이호동동마을',
       '이호테우해수욕장', '몰래물', '오래물광장', '남조순오름입구', '해병대제9여단', '대원오등동입구',
       '첨단꿈에그린3단지아파트', '첨단꿈에그린2단지아파트', '하례1리입구', '위미3리마을회관', '토평보목입구',
       '망장포입구', '위미3리', '제석공원', '쇠소깍하효항입구', '보목동동네', '동물개동산앞', '구삼일금고',
       '강정새마을금고', '석부작박물관', '서귀포고등학교', '색달마을입구', '관광단지입구', '하례2리입구',
       '체육공원입구', '동홍분식', '헬스케어타운리조트', '보목포구입구', '아이뜨락공원', '아시아CGI애니메이션센터',
       '아미휴먼빌', '흙담솔사가', '공무원연금공단', '국세공무원교육원생활관', '회수마을회관', '신안동교차로',
       '신흥리포구', '선녀와나무꾼', '동방남비케길', '구좌정수장', '두문포노린당', '고성리성산농협',
       '성산보건지소', '난산동동네', '삼달1리삼달보건진료소', '흥덕사', '하천상동회관앞', '하천리중동', '거물여',
       '세화1리마을회관', '가시리동하동', '대진유토피아', '신흥2리보건진료소', '토산1리송천교', '용주사',
       '고수동회관', '석수동', '토산1리리사무소', '남원2리복지회관', '고산1리육거리', '무릉2리소공원',
       '대정농공단지', '무릉1리학교앞', '일과2리사무소', '동광환승정류장1', '법기동', '방지물',
       '신창리농산물종합유통센터', '고산환승정류장(종점)', '월림삼거리', '옹포사거리', '금능해수욕장',
       '제주신화월드테마파크', '명월상동회관', '명월리노인복지회관', '서부신협유통영농조합', '광석동',
       '한스빌타운하우스', '동광환승정류장(종점)', '방림원', '청수리사거리', '김녕해수욕장', '맹살공원',
       '월정리용천동', '전경대입구', '오조리입구', '상도리세화고등학교', '하도리개긋물', '곽지해수욕장',
       '고산1리(구출장소)', '대정농공단지입구', '무릉문화의집', '무릉1리리사무소앞', '제석머리', '판포리상동',
       '구한경의원앞', '안성리사무소앞', '금능블루하와이', '고산문화의집', '일과2리서림수원지입구', '상모2리',
       '상모리감협', '거슨새미오름,안돌오름', '명도암입구삼거리', '가시농협', '산이굴', '서광동리소랑못',
       '덕수리새마을금고', '신흥2리사무소', '한남섯동네', '가시리동상동', '토산1리노인회관앞', '하천리세골세',
       '신산마을주차장', '월평아왜낭목', '신효웃동네', '호근새마을금고', 'LH12단지',
       '국세공무원교육원국토교통부인재개발원', '제주월드컵경기장서문', '중흥/골드클래스아파트', '약천사(출발지)',
       '동백동산습지센터', '토산1리리사무소앞', '(구)구판장', '세화3리삼거리', '지경동산', '백약이오름',
       '서문사거리', '제일교', '두문이머세(두맹이골목)', '제주성지', '일도초등학교', '칠십리음식특화거리',
       '대정초교후문', '구억리상동', '보성상동', '서광리넙게오름(축협)', '구억리삼거리', '국제교회',
       '제지기오름', '소암기념관', '서호입구', '남용통상', '정혜재활원', '서귀포YWCA', '서귀포항입구',
       '소앵동입구', '하귀농협경제사업장', '광령2리사무소', '관음사등산로입구', '아라뜨래별',
       '제주공천포전지훈련센터', '진부동', '안성리가스충전소', '대정읍다목적회관', '영주고입구(2호동)',
       '첨단행복주택', '붉은오름휴양림입구', '의귀교회앞', '남원읍충혼묘지,물영아리', '남원리월산동', '한남교',
       '독벌은이동산', '남영농장', '의귀산하동', '명춘동산', '용마마을', '제주노인복지타운', '유수암천',
       '용흥리상동', '용흥리하동', '더라목', '두인빌라삼거리', '장전포제청', '신엄입구', '추자보건지소',
       '영흥리', '묵리', '신양2리입구', '한전사택', '신양1리', '모진이작지해수욕장입구', '추자해변장여관',
       '묵리항', '묵리입구', '하우목동', '위미2리교차로', '위미리(위미2리교차로)', '저지리중동', '망동산',
       '남내소', '난산리노인복지회관', '스위스마을입구', '화랑마을', '대림리사무소', '황사평성지', '쇠소깍입구',
       '하효마을다목적회관', '신촌초등학교(종점)', '신흥리복지회관', '혜정원아가의집', '하덕천', '수산1리큰동네',
       '난산앞동산', '하천리몰고랑터', '토산1리노인회관', '섯동네', '성읍119지역센터', '내영굴',
       '남원농협신흥지소', '의귀초등학교', '인성리(보성농협앞)', '선담밭', '저지리수동', '조수1리중동',
       '동명리한천동', '상명리동동', '상명리동카름', '동광환승정류장3(한림방면)', '명월상동', '배낭골',
       '홍수암', '낙천폭낭거리', '서부보건소', '송당리마을', '효돈축구공원', '수산체육공원입구', '신풍리화단이소',
       '토산1리운동장입구', '하례돈야로', '가시리사무소', '토산보건소동쪽', '동상효회전교차로', '세화3리웃동네',
       '(구)화산초등학교', '감귤유통센터', '선흘분교입구', '어썸브리즈', 'KIS빌리지', '하효고막곶',
       '농협서부지점', '예원동민회관앞', '봉림사', '화순리동하동경로당', '교래자연휴양림', '하례1리복지회관',
       '정방동문화의집', '가문동마을길', '구엄포구', '영흥리부녀회사무실', '추자119지역센터', '장작평사',
       '추자교', '한라산둘레길(천아숲길입구)', '송당북문', '구오일시장', '화북공업단지', '소란마을', '통물',
       '삼매봉중계소입구', '생이집동산', '선인동사거리', '하늘정원', '용암해수단지', '하도리신동',
       '성산서부게이트볼장', '블루마운틴커피박물관', '안좌동입구', '의귀리월산동', '안성리새동네', '평지동옹기박물관',
       '평화동회관', '붉으내', '이시돌삼거리', '명월리사무소', '세화1리북문', '위미정수장', '토산1리운동장',
       '세화3리중동네', '강정의례회관', '화순금모래해수욕장', '서광서리3교차로', '화순해안경기안전센터사계출장소',
       '세곳못', '고내포구', '신양2리', '자미성', '성읍분투왓', '이스트힐스', '제주세계자연유산센터입구',
       '지미봉입구', '꿈에그린아파트', '덕수2리교차로', '무릉1리사거리', '신창리하나로마트한경농협',
       '제주세계자연유산센터거문오름', '진동산', '강화교', '우도봉입구', '휴애리자연생활공원', '다랑쉬오름입구(북)',
       '의사오흥태비', '번개과학체험관', '차고지(가상)', '화순해안경비안전센터사계출장소', '신엄포구',
       '선인장마을,돌마을공원', '물곧밭', '서광서리마을회관', '웃한길사거리', '고성리외왓', '쇠질곳',
       '양수동입구', '평대마장', '제주신화월드서머셋', '소남동산', '대천환승정류장(종점)', '도순거린내',
       '추자면사무소', '조천만세동산(종점)', '평화통일불사리탑', '크라운골프연습장', '화순생태탐방로',
       '고산2리전답동', '신연동', '먼머루', '조천체육관(종점)', '대서리', '행원교차로', '행원리오션뷰2차',
       '신동입구', '상고수동', '삼양동'], dtype=object)

In [112]:
print(len(null_position))

581

In [113]:
import urllib
import re
import requests
import json
from urllib.parse import quote
from urllib.request import urlopen

#제주 데이터 허브 이용

your_projectKey = 'c0p07bb7j___j_b_r8722br9o8tbot__'
get_empty_station_position = {'station_name':[], 'longitude':[], 'latitude':[]}

for position in null_position:
    get_empty_station_position['station_name'].append(position)
    api_url = 'https://open.jejudatahub.net/api/proxy/DD11ab6a6t11D16baaa1a2tD26ata161/' + your_projectKey + '?{stationName(key=' + quote(position) + ')}'
    data = json.loads(urlopen(api_url).read())

    get_empty_station_position['longitude'].append(data['data'][0]['longitude'])
    get_empty_station_position['latitude'].append(data['data'][0]['latitude'])

In [114]:
pd.DataFrame(get_empty_station_position)

             station_name   longitude   latitude
0                   제주썬호텔  126.797879  33.329732
1    제주국제컨벤션센터중문대포해안주상절리대  126.797879  33.329732
2               켄싱턴제주호텔입구  126.797879  33.329732
3          동광환승정류장5(서귀방면)  126.797879  33.329732
4          중문관광단지여미지식물원입구  126.797879  33.329732
..                    ...         ...        ...
576                 행원교차로  126.797879  33.329732
577              행원리오션뷰2차  126.797879  33.329732
578                  신동입구  126.797879  33.329732
579                  상고수동  126.797879  33.329732
580                   삼양동  126.797879  33.329732

[581 rows x 3 columns]

In [116]:
all_station_position = pd.concat([get_station_position, pd.DataFrame(get_empty_station_position)])

In [117]:
all_station_position
# station_name이 일치하면 위도, 경도 동일함
# station_code를 통해 데이터를 가져올 수 없어 맞은 편 구분을 할 수 없음

    station_name   latitude   longitude
0       (구)중앙파출소  33.247598  126.560894
1      1100고지휴게소  33.357816  126.463076
2       1100도로입구  33.251451  126.431536
3       4.3 평화공원  33.451192   126.62162
4    4.3 평화공원 입구  33.453117  126.620093
..           ...        ...         ...
576        행원교차로  33.329732  126.797879
577     행원리오션뷰2차  33.329732  126.797879
578         신동입구  33.329732  126.797879
579         상고수동  33.329732  126.797879
580          삼양동  33.329732  126.797879

[2337 rows x 3 columns]

In [119]:
all_station_position.to_csv('c:\\Users\\hskang\\Desktop\\Coding\\Python AI\\Datas\\all_station_position.csv')